image: owncloudci/alpine:latest
manifests:
  - image: owncloudci/alpine:amd64
    platform:
      architecture: amd64
      os: linux
  - image: owncloudci/alpine:arm64v8
    platform:
      architecture: arm64
      variant: v8
      os: linux
